<app-navigationbar></app-navigationbar>
<div class="container">
  <div class="row d-flex justify-content-center">
    <div class="col-lg-6 my-md-5 mx-1" style="width: 40rem; margin-top: 20px;">
      <div class="card " style="align-items: center;">
        <img class="card-img-top" src="../../../assets/images/baout2.png" width="40rem" height="380px">
        <div class="card-body" style="align-items: center;">
          <!-- <h5 class="card-title">Calculate NetWorth</h5> -->
          <!-- Change the router link from button -->
          <!-- <p class="card-text">Click to view my Portfolio</p> -->
          <button type="button" class="btn button" type="calculatePortfolio" routerLink="/calculateNetworth">
            Calculate NetWorth
          </button>
        </div>
      </div>
    </div>
    <div class="col-lg-6  my-5 mx-1 " style="width: 40rem; margin-top: 20px;">
      <div class="card" style="align-items: center;">
        <img class="card-img-top" src="../../../assets/images/101890549-Buy_sell_dice_on_coins.1910x1000.jpg" width="40rem" height="380px">
        <div class="card-body" style="align-items: center;">
          <!-- <h5 class="card-title">Sell Stock</h5> -->
          <!-- <p class="card-text">Click to sell the Stocks</p> -->
          <button type="button" class="btn  button" type="calculatePortfolio" routerLink="/sellAssets">
            Sell Stocks
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>
